#addBoulderForm {
    display: flex;
    background-color:beige;
    align-items: flex-start;
}

#addBoulderForm > div {
    padding: 15px
}

.dropDownOptions {
    display: flex;
    flex-flow: column nowrap;
    height: 120px;
    min-width: 225px;
    justify-content: space-around;
    flex-grow: 1;
}

#holdType {
    flex-grow: 1;
}

#holdType > #holdTypeOptions {
    display: grid;
    grid-template-columns: 20px 100px 20px 140px 20px 75px;
    /* column-gap: 5px; */
}

#description {
    flex-grow: 3;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#description > textarea {
    flex-grow: 1;
    height: 100%;
    width: 100%
}

.title {
    font-weight: 700;
    font-size: medium;
}