.page {
  background-color: rgb(238, 238, 238);
  display: flex;
  flex-direction: column;
}

.accordionBody {
  background-color: rgb(247, 247, 247);
}

.pageTitle {
  font-size: xxx-large;
  align-self: center;
}

img {
  height: 25px;
}

.calendar {
  border: black solid 1px;
  border-radius: 5%;
  scale: 1.5;
}

.dateCalendarSpacer {
  height: 120px;
}

@media (max-width: 800px) {
  .calendar {
    scale: 1;
  }

  .dateCalendarSpacer {
    height: 60px;
  }
}
