
/* 
.calendar {
  border: black solid 1px;
  border-radius: 5%;
  scale: 1.5;
}



.dateCalendarSpacer {
  height: 120px;
}

@media (max-width: 800px) {
  .calendar {
    scale: 1;
  }

  .dateCalendarSpacer {
    height: 60px;
  }
} */
