ul {
  list-style-type: ">";
  padding: 10px;
}

.gym {
  padding: 10px;
  width: 40%;
}

.session {
  padding: 10px;
  width: 40%;
}

.components {
  display: flex;
  border: 1px solid black;
}

.data {
  display: flex;
  padding: 10px;
  flex-grow: 1;
}

.components:hover {
  background-color: beige;
}

.buttons {
  display: flex;
  justify-content: right;
}

.buttons > * {
  margin: 5px;
}

img {
  width: 25px;
}
