.boulderTable {
  background-color: azure;
  border: 5px ridge rgb(208, 255, 255);
  margin: 50px 0px;
}

.boulderTableSelectors {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 25px;
}

.filterSelector {
  display: flex;
}

.filterSelector > textarea {
  margin: 0px 10px;
  width: 50%;
  height: 15px;
  resize: none;
}

.columnLimitSelectors {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
}

.columnSelector {
  display: flex;
}

.option {
  font-size: small;
  font-weight: 700;
  padding: 0px 10px 0px 0px;
}

.boulderTableWrapper {
  margin: 25px;
  margin-top: 0px;
  overflow-x: scroll;
  overflow-y: scroll;
  max-height: 500px;
  border: 4px ridge rgb(208, 255, 255);
}

table {
  table-layout: fixed;
  border-collapse: collapse;
  width: 0px;
  border: 1px hidden;
}

thead {
  top: 0;
  position: sticky;
}

td,
th {
  border: 1px solid azure;
  padding: 5px;
}

.boulderListHead > * {
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  background-color: rgb(201, 254, 255);
}

.boulderListHeadTitle > * {
  border-bottom: 1px hidden;
  padding-bottom: 0px;
}

.boulderListHeadSelector > * {
  border-bottom: 2px solid black;
  position: sticky;
  padding-top: 10px;
  padding-bottom: 5px;
}

tbody tr:nth-child(even) {
  background-color: rgba(162, 222, 223, 0.5);
}

tbody tr:nth-child(odd) {
  background-color: rgba(255, 231, 192, 0.548);
}

.buttonColumn {
  width: 40px;
}

.ratingColumn {
  width: 75px;
}

.colourColumn {
  width: 75px;
}

.holdTypeColumn {
  width: 100px;
}

.boulderTypeColumn {
  width: 100px;
}

.sendAttemptsColumn {
  width: 100px;
}

.startDateColumn {
  width: 110px;
}

.sendDateColumn {
  width: 110px;
}

.descriptionColumn {
  width: 400px;
}

td button {
  width: 25px;
  height: 25px;
  padding: 0px;
}

button img {
  width: 20px;
  height: 20px;
}
