.boulderList {
    display: grid;
    grid-template-columns: 30px 75px 75px 175px 120px 100px 80px 120px 120px 500px;
    overflow-x: scroll;
}

.boulderList > :nth-child(even) {
    padding: 5px;
    background-color: rgba(139, 220, 221, 0.5);
}

.boulderList > :nth-child(odd) {
    padding: 5px;
    background-color: rgba(253, 210, 145, 0.548);
}

.boulderListHeader {
    font-weight: 700;
    font-size: medium;
    text-align: center;
    border-bottom: 2px solid black;
}