.boulder {
    display: grid;
    grid-template-columns: 20px 5% 5% 10% 10% 5% 5% 7% 7% 35%;
    column-gap: 10px;
}

.boulderList {
    background-color: blanchedalmond;
    display: grid;
    row-gap: 10px;
}